@*section*@

@page "/caption"
@*header*@
@*<Caption_PanelComponent CaptionHeader="Header 1" isVisible="true"></Caption_PanelComponent>*@
<div style="border:solid;border-color:blue;padding:2em">
    <Caption_PanelComponent></Caption_PanelComponent>
    
    <Caption_ContentComponent></Caption_ContentComponent>
</div>
@code {

}
