
@page "/caption"

<style>
    .section {
        border: solid;
        border-color: blue;
        margin: 1em;
        padding:1em;
    }
</style>

<div class="section">
    <p>
        <label>
            <input type="checkbox"
                   @bind-value="showCaption" />
            Show Caption
        </label>
    </p>
    <br />
    <Caption_PanelComponent showCaption="@showCaption"></Caption_PanelComponent>

    <Caption_ContentComponent></Caption_ContentComponent>
</div>
@code {
    private bool showCaption { get; set; }
}
