@if (!string.IsNullOrEmpty(CaptionHeader) && isVisible)
{
    <h2>@CaptionHeader</h2>
}
else
{
    <p>&nbsp;</p>
}

@code {
    //[Parameter]
    //public string CaptionHeader { get; set; }

    //[Parameter]
    //public bool isVisible { get; set; }

    [CascadingParameter(Name = "CaptionHeader")]
    public string CaptionHeader { get; set; }

    [CascadingParameter(Name = "isVisible")]
    public bool isVisible { get; set; }

    
}
