@if (!string.IsNullOrEmpty(CaptionHeader) && showCaption)
{
    <h2>@CaptionHeader</h2>
}


@code {
    

    [CascadingParameter(Name = "CaptionHeader")]
    public string CaptionHeader { get; set; }

    [Parameter]
    public bool showCaption { get; set; }

    
}
